body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 55px;
    color: #575757;
}
h2{
    font-size: 40px;
    color: #575757;
}
h3{
    font-size: 30px;
    color: #575757;
}
p{
    font-size: 20px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.the-diet{
    padding-top: 20px;
}
.the-diet h1{ 
    padding: 100px 15px 10px 0px;
}
.the-diet p{
    padding: 0px 15px 30px 0px;
}

.the-diet img{
    width: 90%;
}
.color-text{
    color:#FBA24F;
}
.linked-button{
    text-decoration: none;
    padding: 16px 32px;
    background-image: linear-gradient(to right, #FBA24F, #FF1E1E);
    border-radius: 25px;
    color: white;
    font-weight: 700;
}
.about-us{
    background-image: url(images/shapes/7.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.about-us img{
    width: 70%;
    padding-left: 30px;
    margin: 0 auto;
    display: block;
}
.about-iteam{
    width: 36%;
    padding-left: 7%;
    padding-right: 7%;
}
.about-us h2{ 
    padding: 50px 0px 15px 0px;
}
.about-us p{
    padding: 0px 0px 70px 0px;
}
.my-recipies-heading{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.recipies-box{
    justify-content: center;
}
.one-third{
    width: 25%;
}
.recipies-box .one-third{     
    padding: 10px;
    box-shadow: 3px 10px 20px #ccc;
    border-radius: 20px;
    margin: 15px;
}
.recipies-box img{
    width: 100%; 
    margin: 10px auto 20px ; 
}
.social-counter{
    box-shadow: 3px 10px 20px #ccc;
    width: 84%;
    margin: 0 auto 100px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
}
.social-counter .one-third{
    padding: 20px 50px;
}
footer{
    background-color: #0B0D17;
    padding: 10px 0px 30px 0px;
    text-align: center;
    color: white;
}